@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style0,
  .style1 {
    display: flex;
    flex-direction: column
  }
  .style0 {
    margin-left: 0;
    align-items: flex-end;
    background-color: #666;
    margin-top: 0;
    width: 375px;
    height: 280px
  }
  .style1 {
    background-color: #999;
    position: relative;
    margin-top: 11px;
    width: 365px;
    height: 32px
  }
  .bankingwebsitecontainer0container1row0 {
    display: flex;
    margin-left: 7px;
    margin-top: 4px;
    width: 355px;
    height: 23px;
    flex-shrink: 0
  }
  .bankingwebsitecontainer0container1row0unsupported1 {
    margin-left: 0;
    width: 112px;
    height: 100%
  }
  .bankingwebsitecontainer0container1row0unsupported2 {
    margin-left: 152px;
    width: 91px;
    height: 11px
  }
  .bankingwebsitecontainer0container1unsupported0 {
    position: relative;
    display: flex;
    margin-top: 0;
    width: 100%;
    height: 253px;
    align-items: stretch;
    align-self: stretch;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-end
  }
  .style2 {
    background-color: #eee;
    display: flex;
    height: 242px;
    flex-direction: column
  }
  .bankingwebsitecontainer0container1unsupported0container2row0 {
    position: relative;
    display: flex;
    margin-top: 3px;
    width: 353px;
    height: 11px;
    align-items: stretch;
    align-self: center
  }
  .bankingwebsitecontainer0container1unsupported0container2row0unsupported3 {
    margin-left: 0;
    width: 72px;
    flex-shrink: 0
  }
  .style15 {
    color: #666;
    font-family: devanagarimt,serif;
    font-size: .4296875em;
    position: relative;
    margin-left: 216px;
    flex-shrink: 0
  }
  .bankingwebsitecontainer0container1unsupported0container2row1 {
    display: flex;
    margin-left: 7px;
    margin-top: 5px;
    width: 338px;
    height: 14px;
    align-items: center
  }
  .style3,
  .style8 {
    font-family: devanagarimt,serif;
    font-size: .64453125em;
    margin-left: 0;
    height: 12px
  }
  .style8 {
    text-align: right;
    margin-left: 156px;
    height: 100%
  }
  .bankingwebsitecontainer0container1unsupported0container2row2 {
    position: relative;
    display: flex;
    margin-top: 11px;
    width: 351px;
    height: 13px;
    align-items: center;
    align-self: center
  }
  .style11 {
    font-family: devanagarimt,serif;
    font-size: .37109375em;
    font-weight: 700;
    margin-left: 0;
    height: 100%;
    flex-shrink: 0
  }
  .bankingwebsitecontainer0container1unsupported0container2row2unsupported4 {
    position: relative;
    margin-left: 3px;
    width: 125px;
    height: 10px;
    flex-shrink: 0
  }
  .style4,
  .style6 {
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    height: 100%;
    flex-shrink: 0
  }
  .style4 {
    font-family: devanagarimt,serif;
    font-size: .4296875em;
    text-indent: 11px;
    background-color: #fff;
    margin-left: 63px;
    width: 105px
  }
  .style6 {
    background-color: #2b78e4;
    box-shadow: 5px 5px 0 0 #000;
    display: flex;
    margin-left: 5px;
    width: 31px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style7 {
    text-align: center;
    font-family: devanagarimt,serif;
    font-size: .4296875em;
    height: 8px
  }
  .bankingwebsitecontainer0container1unsupported0container2row3 {
    display: flex;
    margin-top: 9px;
    width: 354px;
    height: 13px;
    align-items: stretch;
    align-self: center
  }
  .style14 {
    font-family: devanagarimt,serif;
    font-size: .4296875em;
    font-weight: 700;
    margin-left: 0
  }
  .style12 {
    background-color: #fff;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    box-shadow: 5px 5px 0 0 #000;
    display: flex;
    margin-left: 85px;
    width: 34px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style13 {
    text-align: center;
    font-family: devanagarimt,serif;
    font-size: .4296875em;
    height: 8px
  }
  .style9 {
    background-color: #fff;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    box-shadow: 5px 5px 0 0 #000;
    display: flex;
    margin-left: 3px;
    width: 50px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style10 {
    text-align: center;
    font-family: devanagarimt,serif;
    font-size: .4296875em;
    height: 8px
  }
  .bankingwebsitecontainer0container1unsupported0container2unsupported5 {
    margin-top: 6px;
    width: 350px;
    height: 151px;
    align-self: center
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style0,
  .style1 {
    display: flex;
    flex-direction: column
  }
  .style0 {
    margin-left: 0;
    align-items: flex-end;
    background-color: #666;
    margin-top: 0;
    width: 768px;
    height: 573px
  }
  .style1 {
    background-color: #999;
    position: relative;
    margin-top: 23px;
    width: 747px;
    height: 65px
  }
  .bankingwebsitecontainer0container1row0 {
    display: flex;
    margin-left: 15px;
    margin-top: 9px;
    width: 726px;
    height: 47px;
    flex-shrink: 0
  }
  .bankingwebsitecontainer0container1row0unsupported1 {
    margin-left: 0;
    width: 229px;
    height: 100%
  }
  .bankingwebsitecontainer0container1row0unsupported2 {
    margin-left: 311px;
    width: 186px;
    height: 22px
  }
  .bankingwebsitecontainer0container1unsupported0 {
    position: relative;
    display: flex;
    margin-top: 0;
    width: 100%;
    height: 519px;
    align-items: stretch;
    align-self: stretch;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-end
  }
  .style2 {
    background-color: #eee;
    display: flex;
    height: 495px;
    flex-direction: column
  }
  .bankingwebsitecontainer0container1unsupported0container2row0 {
    position: relative;
    display: flex;
    margin-top: 7px;
    width: 723px;
    height: 22px;
    align-items: stretch;
    align-self: center
  }
  .bankingwebsitecontainer0container1unsupported0container2row0unsupported3 {
    margin-left: 0;
    width: 147px;
    flex-shrink: 0
  }
  .style15 {
    color: #666;
    font-family: devanagarimt,serif;
    font-size: .88em;
    position: relative;
    margin-left: 443px;
    flex-shrink: 0
  }
  .bankingwebsitecontainer0container1unsupported0container2row1 {
    display: flex;
    margin-left: 15px;
    margin-top: 11px;
    width: 691px;
    height: 29px;
    align-items: center
  }
  .style3,
  .style8 {
    font-family: devanagarimt,serif;
    font-size: 1.32em;
    margin-left: 0;
    height: 24px
  }
  .style8 {
    text-align: right;
    margin-left: 320px;
    height: 100%
  }
  .bankingwebsitecontainer0container1unsupported0container2row2 {
    position: relative;
    display: flex;
    margin-top: 22px;
    width: 719px;
    height: 26px;
    align-items: center;
    align-self: center
  }
  .style11 {
    font-family: devanagarimt,serif;
    font-size: .76em;
    font-weight: 700;
    margin-left: 0;
    height: 100%;
    flex-shrink: 0
  }
  .bankingwebsitecontainer0container1unsupported0container2row2unsupported4 {
    position: relative;
    margin-left: 7px;
    width: 256px;
    height: 20px;
    flex-shrink: 0
  }
  .style4,
  .style6 {
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    height: 100%;
    flex-shrink: 0
  }
  .style4 {
    font-family: devanagarimt,serif;
    font-size: .88em;
    text-indent: 22px;
    background-color: #fff;
    margin-left: 130px;
    width: 215px
  }
  .style6 {
    background-color: #2b78e4;
    box-shadow: 5px 5px 0 0 #000;
    display: flex;
    margin-left: 10px;
    width: 64px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style7 {
    text-align: center;
    font-family: devanagarimt,serif;
    font-size: .88em;
    height: 15px
  }
  .bankingwebsitecontainer0container1unsupported0container2row3 {
    display: flex;
    margin-top: 19px;
    width: 724px;
    height: 26px;
    align-items: stretch;
    align-self: center
  }
  .style14 {
    font-family: devanagarimt,serif;
    font-size: .88em;
    font-weight: 700;
    margin-left: 0
  }
  .style12 {
    background-color: #fff;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    box-shadow: 5px 5px 0 0 #000;
    display: flex;
    margin-left: 175px;
    width: 69px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style13 {
    text-align: center;
    font-family: devanagarimt,serif;
    font-size: .88em;
    height: 15px
  }
  .style9 {
    background-color: #fff;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    box-shadow: 5px 5px 0 0 #000;
    display: flex;
    margin-left: 5px;
    width: 103px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style10 {
    text-align: center;
    font-family: devanagarimt,serif;
    font-size: .88em;
    height: 15px
  }
  .bankingwebsitecontainer0container1unsupported0container2unsupported5 {
    margin-top: 13px;
    width: 717px;
    height: 309px;
    align-self: center
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style0,
  .style1 {
    display: flex;
    flex-direction: column
  }
  .style0 {
    margin-left: 0;
    align-items: flex-end;
    background-color: #666;
    margin-top: 0;
    width: 920px;
    height: 686px
  }
  .style1 {
    background-color: #999;
    position: relative;
    margin-top: 28px;
    width: 895px;
    height: 78px
  }
  .bankingwebsitecontainer0container1row0 {
    display: flex;
    margin-left: 18px;
    margin-top: 11px;
    width: 870px;
    height: 56px;
    flex-shrink: 0
  }
  .bankingwebsitecontainer0container1row0unsupported1 {
    margin-left: 0;
    width: 274px;
    height: 100%
  }
  .bankingwebsitecontainer0container1row0unsupported2 {
    margin-left: 373px;
    width: 223px;
    height: 27px
  }
  .bankingwebsitecontainer0container1unsupported0 {
    position: relative;
    display: flex;
    margin-top: 0;
    width: 100%;
    height: 622px;
    align-items: stretch;
    align-self: stretch;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-end
  }
  .style2 {
    background-color: #eee;
    display: flex;
    height: 593px;
    flex-direction: column
  }
  .bankingwebsitecontainer0container1unsupported0container2row0 {
    position: relative;
    display: flex;
    margin-top: 8px;
    width: 866px;
    height: 27px;
    align-items: stretch;
    align-self: center
  }
  .bankingwebsitecontainer0container1unsupported0container2row0unsupported3 {
    margin-left: 0;
    width: 176px;
    flex-shrink: 0
  }
  .style15 {
    color: #666;
    font-family: devanagarimt,serif;
    font-size: 1.0541666666666667em;
    position: relative;
    margin-left: 531px;
    flex-shrink: 0
  }
  .bankingwebsitecontainer0container1unsupported0container2row1 {
    display: flex;
    margin-left: 18px;
    margin-top: 13px;
    width: 828px;
    height: 35px;
    align-items: center
  }
  .style3,
  .style8 {
    font-family: devanagarimt,serif;
    font-size: 1.58125em;
    margin-left: 0;
    height: 29px
  }
  .style8 {
    text-align: right;
    margin-left: 383px;
    height: 100%
  }
  .bankingwebsitecontainer0container1unsupported0container2row2 {
    position: relative;
    display: flex;
    margin-top: 27px;
    width: 862px;
    height: 31px;
    align-items: center;
    align-self: center
  }
  .style11 {
    font-family: devanagarimt,serif;
    font-size: .9104166666666668em;
    font-weight: 700;
    margin-left: 0;
    height: 100%;
    flex-shrink: 0
  }
  .bankingwebsitecontainer0container1unsupported0container2row2unsupported4 {
    position: relative;
    margin-left: 8px;
    width: 307px;
    height: 25px;
    flex-shrink: 0
  }
  .style4,
  .style6 {
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    height: 100%;
    flex-shrink: 0
  }
  .style4 {
    font-family: devanagarimt,serif;
    font-size: 1.0541666666666667em;
    text-indent: 27px;
    background-color: #fff;
    margin-left: 156px;
    width: 258px
  }
  .style6 {
    background-color: #2b78e4;
    box-shadow: 5px 5px 0 0 #000;
    display: flex;
    margin-left: 12px;
    width: 77px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style7 {
    text-align: center;
    font-family: devanagarimt,serif;
    font-size: 1.0541666666666667em;
    height: 18px
  }
  .bankingwebsitecontainer0container1unsupported0container2row3 {
    display: flex;
    margin-top: 23px;
    width: 868px;
    height: 31px;
    align-items: stretch;
    align-self: center
  }
  .style14 {
    font-family: devanagarimt,serif;
    font-size: 1.0541666666666667em;
    font-weight: 700;
    margin-left: 0
  }
  .style12 {
    background-color: #fff;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    box-shadow: 5px 5px 0 0 #000;
    display: flex;
    margin-left: 209px;
    width: 83px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style13 {
    text-align: center;
    font-family: devanagarimt,serif;
    font-size: 1.0541666666666667em;
    height: 18px
  }
  .style9 {
    background-color: #fff;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    box-shadow: 5px 5px 0 0 #000;
    display: flex;
    margin-left: 6px;
    width: 123px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style10 {
    text-align: center;
    font-family: devanagarimt,serif;
    font-size: 1.0541666666666667em;
    height: 18px
  }
  .bankingwebsitecontainer0container1unsupported0container2unsupported5 {
    margin-top: 15px;
    width: 859px;
    height: 370px;
    align-self: center
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style0,
  .style1 {
    display: flex;
    flex-direction: column
  }
  .style0 {
    margin-left: 0;
    align-items: flex-end;
    background-color: #666;
    margin-top: 0;
    width: 1200px;
    height: 895px
  }
  .style1 {
    background-color: #999;
    position: relative;
    margin-top: 36px;
    width: 1167px;
    height: 102px
  }
  .bankingwebsitecontainer0container1row0 {
    display: flex;
    margin-left: 23px;
    margin-top: 14px;
    width: 1135px;
    height: 73px;
    flex-shrink: 0
  }
  .bankingwebsitecontainer0container1row0unsupported1 {
    margin-left: 0;
    width: 358px;
    height: 100%
  }
  .bankingwebsitecontainer0container1row0unsupported2 {
    margin-left: 486px;
    width: 291px;
    height: 35px
  }
  .bankingwebsitecontainer0container1unsupported0 {
    position: relative;
    display: flex;
    margin-top: 0;
    width: 100%;
    height: 811px;
    align-items: stretch;
    align-self: stretch;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-end
  }
  .style2 {
    background-color: #eee;
    display: flex;
    height: 774px;
    flex-direction: column
  }
  .bankingwebsitecontainer0container1unsupported0container2row0 {
    position: relative;
    display: flex;
    margin-top: 11px;
    width: 1129px;
    height: 35px;
    align-items: stretch;
    align-self: center
  }
  .bankingwebsitecontainer0container1unsupported0container2row0unsupported3 {
    margin-left: 0;
    width: 229px;
    flex-shrink: 0
  }
  .style15 {
    color: #666;
    font-family: devanagarimt,serif;
    font-size: 1.375em;
    position: relative;
    margin-left: 692px;
    flex-shrink: 0
  }
  .bankingwebsitecontainer0container1unsupported0container2row1 {
    display: flex;
    margin-left: 23px;
    margin-top: 17px;
    width: 1080px;
    height: 45px;
    align-items: center
  }
  .style3,
  .style8 {
    font-family: devanagarimt,serif;
    font-size: 2.0625em;
    margin-left: 0;
    height: 38px
  }
  .style8 {
    text-align: right;
    margin-left: 500px;
    height: 100%
  }
  .bankingwebsitecontainer0container1unsupported0container2row2 {
    position: relative;
    display: flex;
    margin-top: 35px;
    width: 1124px;
    height: 41px;
    align-items: center;
    align-self: center
  }
  .style11 {
    font-family: devanagarimt,serif;
    font-size: 1.1875em;
    font-weight: 700;
    margin-left: 0;
    height: 100%;
    flex-shrink: 0
  }
  .bankingwebsitecontainer0container1unsupported0container2row2unsupported4 {
    position: relative;
    margin-left: 11px;
    width: 400px;
    height: 32px;
    flex-shrink: 0
  }
  .style4,
  .style6 {
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    height: 100%;
    flex-shrink: 0
  }
  .style4 {
    font-family: devanagarimt,serif;
    font-size: 1.375em;
    text-indent: 35px;
    background-color: #fff;
    margin-left: 203px;
    width: 336px
  }
  .style6 {
    background-color: #2b78e4;
    box-shadow: 5px 5px 0 0 #000;
    display: flex;
    margin-left: 15px;
    width: 100px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style7 {
    text-align: center;
    font-family: devanagarimt,serif;
    font-size: 1.375em;
    height: 24px
  }
  .bankingwebsitecontainer0container1unsupported0container2row3 {
    display: flex;
    margin-top: 30px;
    width: 1132px;
    height: 41px;
    align-items: stretch;
    align-self: center
  }
  .style14 {
    font-family: devanagarimt,serif;
    font-size: 1.375em;
    font-weight: 700;
    margin-left: 0
  }
  .style12 {
    background-color: #fff;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    box-shadow: 5px 5px 0 0 #000;
    display: flex;
    margin-left: 273px;
    width: 108px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style13 {
    text-align: center;
    font-family: devanagarimt,serif;
    font-size: 1.375em;
    height: 24px
  }
  .style9 {
    background-color: #fff;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    box-shadow: 5px 5px 0 0 #000;
    display: flex;
    margin-left: 8px;
    width: 161px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style10 {
    text-align: center;
    font-family: devanagarimt,serif;
    font-size: 1.375em;
    height: 24px
  }
  .bankingwebsitecontainer0container1unsupported0container2unsupported5 {
    margin-top: 20px;
    width: 1120px;
    height: 483px;
    align-self: center
  }
}